:root {
	--white: #fff;
	--gray900: #1b1d1f;
	--gray800: #26282b;
	--gray600: #454c53;
	--gray500: #72787f;
	--gray400: #9ea4a8;
	--gray200: #e5e7eb;
	--gray100: #e8ebed;
	--gray50: #f7f7f8;
	--blue: #3692ff;
	--skyblue: #cfe5ff;
	--red: #f74747;
	--deepblue: #1967d6;
}

body {
	overflow-x: hidden;
	font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* common */
.inner {
	max-width: 1200px;
	margin: 0 auto;
	width: 96%;
}
/* gnb */
header {
	border-bottom: 1px solid var(--gray100);
	margin-bottom: 70px;
}
.gnb {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 0 18px;
	background-color: var(--white);
}

.gnb .logo {
	width: 103px;
	height: 51px;
	position: relative;
	overflow: hidden;
}

.gnb .logo img {
	position: absolute;
	right: 0;
	width: 150px;
}

/* button default style */
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--white);
	font-weight: 600;
	font-size: 16px;
	line-height: 1;
	border: 0;
	cursor: pointer;
}
.btn:disabled {
	background-color: var(--gray400);
	pointer-events: none;
}

.btn:hover {
	background: var(--deepblue);
}

.btn_small {
	width: 128px;
	height: 48px;
	border-radius: 8px;
}

.btn_large {
	height: 56px;
	border-radius: 40px;
	font-size: 20px;
	font-size: 16px;
	width: 100%;
	height: 48px;
	margin: 0 auto;
	padding: 0 34px;
}

/* input default style */
.input_wrapper {
	position: relative;
	margin-bottom: 18px;
}
.text_input {
	display: block;
	background-color: var(--gray100);
	border: 1px solid transparent;
	width: 100%;
	border-radius: 12px;
	height: 56px;
	padding: 0 24px;
	font-size: 16px;
	line-height: 24px;
	margin: 8px 0;
	outline-color: var(--blue);
}

/* input error */
.input_wrapper.error .text_input {
	border-color: var(--red);
	outline-color: var(--red);
}
.input_wrapper.error .input_err_msg {
	display: block;
}

.input_err_msg {
	font-size: 15px;
	font-weight: 600;
	color: var(--red);
	padding: 0 24px;
	display: none;
}

.input_err_msg.show {
	display: block;
}

.text_input::placeholder {
	color: var(--gray400);
}
.btn_visibility {
	position: absolute;
	top: 16px;
	right: 24px;
	border: 0;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	padding: 0;
	background-image: url('/src/img/login/btn_visibility_open.svg');
}

.btn_visibility.close {
	background-image: url('/src/img/login/btn_visibility_close.svg');
}

/* .btn_visibility > img {
	position: absolute;
	top: 0;
	right: 0;
} */

/* .btn_visibility.open .visibility_close,
.btn_visibility.close .visibility_open {
	display: none;
	visibility: hidden;
}
 */
label {
	display: block;
	font-weight: 700;
	font-size: 13px;
	line-height: 1.2;
	margin: 0;
}

@media (min-width: 768px) {
	.gnb {
		padding: 0 24px;
	}

	.gnb .logo {
		width: 153px;
	}

	.gnb .logo img {
		width: 100%;
	}

	.btn_large {
		display: flex;
		width: 100%;
		height: 60px;
		font-size: 20px;
	}
	label {
		font-size: 18px;
		margin: 24px 0 10px;
	}

	.text_input {
		margin: 14px 0 24px;
	}
}

@media (min-width: 1200px) {
	.gnb {
		padding: 0 200px;
	}
}
