body::after {
	content: '';
	height: 4076px;
	background-image: url('/src/img/tablet.png');
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.2;
	pointer-events: none;
}

.hero {
	height: 540px;
	background: var(--skyblue);
	position: relative;
}

.hero .inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}
.hero h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	text-align: left;
	letter-spacing: -0.03em;
}
.hero img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-26%);
	height: 82.8%;
	max-height: 447px;
}
.hero .btn_large {
	max-width: 360px;
}

.wrapper > section.inner {
	display: flex;
	align-items: center;
	padding: 138px 0;
}

.wrapper > section.inner:nth-child(2) {
	flex-direction: row-reverse;
	text-align: right;
}

.desc {
	margin: 0 63px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
}
.desc h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	letter-spacing: 0.02em;
}

.desc h2 span {
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: var(--blue);
	margin-bottom: 14px;
}

.desc p {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0.08em;
}

.banner {
	background-color: var(--skyblue);
	height: 540px;
	margin-top: 140px;
	position: relative;
}

.banner .desc {
	margin: 0;
	height: 100%;
}

.banner img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-26%);
	height: 100%;
}

footer {
	height: 160px;
	background: var(--gray900);
	color: var(--gray400);
	padding: 32px 24px 0;
}
footer > .inner {
	max-width: 1520px;
	display: flex;
	justify-content: space-between;
}
footer ul {
	display: flex;
	gap: 34px;
	color: var(--gray200);
}
footer a {
	color: var(--gray400);
}

footer .sns {
	gap: 12px;
}

/* responsive */
@media (max-width: 1199px) {
	.wrapper > section.inner {
		/* max-width: 696px; */
		padding-left: 24px;
		padding-right: 24px;
		padding: 24px;
	}
	.wrapper > section.inner > img {
		width: 100%;
	}
	.hero {
		height: 770px;
	}
	.hero .inner {
		justify-content: flex-start;
	}
	.hero h1 {
		text-align: center;
		margin-top: 84px;
	}
	.hero h1 br {
		display: none;
	}
	.hero .btn_large {
		margin: 0 auto;
	}

	.hero img {
		transform: translateX(-50%);
	}

	.wrapper .desc {
		margin: 24px 0;
	}

	.wrapper .desc h2 br {
		display: none;
	}

	.banner {
		height: 928px;
		overflow: hidden;
	}
	.banner .desc {
		display: block;
		text-align: center;
		margin-top: 200px;
		overflow: hidden;
	}
	.banner img {
		width: 132%;
		max-width: 996px;
		height: auto;

		transform: translateX(-50%);
	}
}
