.hero {
	height: 540px;
	background: var(--skyblue);
	position: relative;
}

.hero .inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
}
.hero h1 {
	font-family: Pretendard;
	font-size: 40px;
	font-weight: 700;
	line-height: 56px;
	text-align: left;
}
.hero img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-26%);
	height: 82.8%;
	max-height: 447px;
}
.hero .btn_large {
	max-width: 360px;
}

.wrapper > section.inner {
	display: flex;
	align-items: center;
	padding: 138px 0;
}

.wrapper > section.inner:nth-child(2) {
	flex-direction: row-reverse;
	text-align: right;
}

.desc {
	margin: 0 63px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	justify-content: center;
}
.desc h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: 56px;
	letter-spacing: 0.02em;
}

.desc h2 span {
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: var(--blue);
	margin-bottom: 14px;
}

.desc p {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0.08em;
}

.banner {
	background-color: var(--skyblue);
	height: 540px;
	margin-top: 140px;
	position: relative;
}

.banner .desc {
	margin: 0;
	height: 100%;
}

.banner img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-26%);
	height: 100%;
}

footer {
	height: 160px;
	background: var(--gray900);
	color: var(--gray400);
	padding: 32px 24px 0;
}
footer > .inner {
	max-width: 1520px;
	display: flex;
	justify-content: space-between;
}
footer ul {
	display: flex;
	gap: 34px;
	color: var(--gray200);
}
footer a {
	color: var(--gray400);
}

footer .sns {
	gap: 12px;
}
