.hero {
	height: 540px;
	background: var(--skyblue);
	position: relative;
}

.hero .inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	justify-content: flex-start;
	gap: 15px;
}
.hero h1 {
	font-weight: 700;
	font-size: 32px;
	word-break: keep-all;
	text-wrap: balance;
	margin: 0 auto;
	text-align: center;
	margin-top: 45px;
	line-height: 1.4;
}
.hero img {
	position: absolute;
	bottom: 0;
	left: 50%;
	max-height: 447px;
	transform: translateX(-50%);
	width: 628px;
	height: auto;
}
.hero .btn_large {
	max-width: 360px;
}

.wrapper > section.inner {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px 16px;
	margin-top: 50px;
	margin-bottom: 61px;
}

.wrapper > section.inner:nth-child(2) {
	flex-direction: column;
	text-align: right;
}

.desc {
	display: flex;
	flex-direction: column;
	margin: 0;
	gap: 0;
	width: 100%;
	justify-content: flex-start;
}
.desc h2 {
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.02em;
	font-size: 32px;
	display: block;
	padding: 0;
	width: 100%;
	margin: 18px 0 18px;
	font-size: 24px;
}

.desc h2 span {
	display: block;
	font-weight: 700;
	line-height: 25px;
	color: var(--blue);
	margin-bottom: 8px;
	font-size: 16px;
}

.desc h2 br {
	display: none;
}

.desc p {
	font-weight: 500;
	letter-spacing: 0.08em;
	font-size: 16px;
	line-height: 1.3;
}

.banner {
	background-color: var(--skyblue);
	height: 540px;
	position: relative;
	margin-top: 60px;
}

.banner .desc {
	margin: 0;
	height: 100%;
}

.banner .desc h2 {
	text-align: center;
	font-size: 32px;
	word-break: keep-all;
	text-wrap: balance;
	padding-top: 103px;
}

.banner img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

footer {
	height: 160px;
	background: var(--gray900);
	color: var(--gray400);
	padding: 32px 24px 0;
	position: relative;
}
footer > .inner {
	max-width: 1520px;
	display: flex;
	justify-content: space-between;
}

footer .copy {
	position: absolute;
	bottom: 30px;
	color: var(--gray500);
}
footer ul {
	display: flex;
	gap: 34px;
	color: var(--gray200);
}
footer a {
	color: var(--gray400);
}

footer .sns {
	gap: 12px;
}

/* responsive */

@media (min-width: 768px) {
	.hero {
		height: 770px;
	}
	.hero .inner {
		gap: 22px;
	}

	.hero img {
		width: 1006px;
	}
	.hero h1 {
		font-size: 40px;
		margin-top: 80px;
	}
	.hero h1 br {
		display: none;
	}

	.wrapper > section.inner {
		padding: 0 24px;
		margin-top: 25px;
		margin-bottom: 63px;
	}

	.desc h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}

	.desc h2 span {
		margin-bottom: 12px;
		font-size: 18px;
	}

	.desc p {
		font-size: 18px;
	}

	.banner {
		margin-top: 80px;
		height: 927px;
	}

	.banner .desc h2 {
		font-size: 40px;
		padding-top: 184px;
	}
	.banner .desc h2 br {
		display: block;
	}

	.banner img {
		width: 996px;
	}

	footer .copy {
		position: relative;
		bottom: auto;
	}
}
@media (min-width: 1200px) {
	.wrapper > section.inner {
		/* max-width: 696px; */
		padding-left: 24px;
		padding-right: 24px;
		padding: 0;
		flex-direction: row;
		margin-top: 135px;
		margin-bottom: 277px;
		gap: 65px;
	}
	.wrapper > section.inner > img {
		width: 100%;
	}
	.hero {
		height: 540px;
	}
	.hero .inner {
		gap: 32px;
		padding-top: 182px;
	}
	.hero h1 {
		margin: 0;
		text-align: left;
	}
	.hero h1 br {
		display: block;
	}
	.hero .btn_large {
		margin: 0;
	}

	.hero img {
		transform: translateX(-25.5%);
	}

	.wrapper > section.inner:nth-child(2) {
		flex-direction: row-reverse;
	}

	.wrapper .desc {
		margin: 24px 0;
	}
	.desc h2 {
		font-size: 40px;
		margin-top: 0;
	}

	.desc p {
		font-size: 24px;
	}
	s .wrapper .desc h2 br {
		display: block;
	}

	.banner {
		height: 540px;
		overflow: hidden;
	}
	.banner .desc {
		display: block;
		text-align: center;
		margin-top: 0;
		overflow: hidden;
		text-align: left;
	}
	.banner img {
		max-width: 996px;
		height: auto;
		transform: translateX(-25%);
	}

	.banner .desc h2 {
		text-align: left;
		padding-top: 213px;
	}
}
