.logo {
	width: 198px;
	margin: 24px auto;
}
.logo img {
	width: 100%;
}

.wrapper {
	width: 90%;
	max-width: 400px;
	margin: 0 auto;
}

.wrapper .btn:hover {
	background-color: var(--blue);
}

.social_login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 26px 0 24px;
	height: 74px;
	padding: 10px 23px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: var(--skyblue);
}

.social_login ul {
	display: flex;
	gap: 0 16px;
}

.social_login ul a {
	display: block;
}

.bottom_text {
	text-align: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin: 18px 0;
}
.bottom_text a {
	color: var(--blue);
	text-decoration: underline;
}

@media (min-width: 768px) {
	.logo {
		width: 396px;
		margin-top: 48px;
		margin-bottom: 41px;
	}

	.wrapper {
		max-width: 600px;
	}

	label {
		font-size: 18px;
		margin-bottom: 16px;
	}
}

@media (min-width: 1200px) {
	.logo {
		margin: 59px auto 42px;
	}
	.logo-home-button {
		margin-top: 60px;
		margin-bottom: 40px;
	}
}
